.navbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    width: 95%;
    height: 80%;
    border-radius: 13px;
}

.navbar-logo{
    font-family: 'Dancing Script', cursive;
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #2324;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    background-color: rgba(36, 27, 160, 0.418);
    color: #ec790de5;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}